# Use command "python -m pipreqs.pipreqs /folder-path" to create 
# Requirements.txt file with necessary dependencies

# pipreqs must be installed to use this
# install with "pip install pipreqs"

# Lastly, install all dependencies using "pip install -r /path-to-requirements.txt"